- breadcrumb @recipe
%section{role: 'main'}
  .shadow
    .container
      = breadcrumbs separator: ' / '

      %article.recipe
        %figure{class: ("chosen" if @recipe.listed?)}
          = image_tag "pasta.png"
        .recipe__details
          %h3= @recipe.title
          .ingredients
            %ul
              - @ingredients.each do |ingredient|
                %li= ingredient.value
          .meta
            %dl.clocks
              %dt Cook
              %dd.cook-time= cooking_time_formater @recipe.cooking_time
        .clear
        .prep-steps= @recipe.description

