%section{role: 'search'}
  .container
    %form.search-form
      .search-field
        = search_field_tag "search", nil, placeholder: "Search"
        = submit_tag '', class: "search-submit-button"
%div{role: 'main'}
  .shadow
    .container
      %aside{role: 'popular_recipes'}
        %h3 Popular recipes
        %ul.recipes-list
          - some_list = %q(<ul class="list-ul"><li>4 eggs</li><li>1 cup vegetable oil</li><li>2/3 cup water</li><li>3 cups white sugar</li><li>4 eggs</li><li>1 cup vegetable oil</li></ul><div class="cook-time">45 min</div>)

          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Soybean Milk', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Delicious Ham and Potato Soup', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Banana Crumb Muffins', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Clone of a Cinnabon', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Soybean Milk', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Delicious Ham and Potato Soup', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Banana Crumb Muffins', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Clone of a Cinnabon', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Soybean Milk', '#'
        %ul.recipes-list
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Soybean Milk', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Delicious Ham and Potato Soup', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Banana Crumb Muffins', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Clone of a Cinnabon', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Soybean Milk', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Delicious Ham and Potato Soup', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Banana Crumb Muffins', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Clone of a Cinnabon', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Soybean Milk', '#'
      %aside{role: 'recently_recipes'}
        %h3 Recently recipes
        %ul.recipes-list
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Soybean Milk', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Delicious Ham and Potato Soup', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Banana Crumb Muffins', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Clone of a Cinnabon', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Soybean Milk', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Delicious Ham and Potato Soup', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Banana Crumb Muffins', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Clone of a Cinnabon', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Soybean Milk', '#'
        %ul.recipes-list
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Soybean Milk', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Delicious Ham and Potato Soup', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Banana Crumb Muffins', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Clone of a Cinnabon', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Soybean Milk', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Delicious Ham and Potato Soup', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Banana Crumb Muffins', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Clone of a Cinnabon', '#'
          %li{data: {toggle: 'tooltip', placement: 'bottom'}, title: some_list}
            = link_to 'Soybean Milk', '#'
    .container
      %aside{role: 'actions'}
        .find-best
          %h4 Find best recipes
          %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor
          %a{href: '/'} Find
        .create-cookbook
          %h4 Create your Cookbook
          %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor
          %a{href: '/'} Create
        .share-recipes
          %h4 Share your recipes
          %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor
          %a{href: '/'} Share
    - if @recipe_listed
      .container
        %aside{role: 'recipe-daily'}
          %figure.chosen
            = image_tag 'pasta.png'
          %h4= link_to @recipe_listed.title, @recipe_listed
          .time= cooking_time_formater @recipe_listed.cooking_time
          .ingredients
            - @listed_ingredients.in_groups_of(6).each do |ing_group|
              %ul
                - ing_group.each do |ingredient|
                  %li= ingredient
