!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wanna Eat
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %header
      .container
        .logo
          %a{href: '/'} WannaEat
        %nav.main-cats.main-menu
          %a{href: '/'} Food
          %a{href: '/'} Drinks
        %nav.user-actions.main-menu
          %a{href: '/'} Search Recipes
          %a{href: '/'} About Us
          %a{href: '/'} Login
    = yield
    %footer
      .container
        .copy
          .logo
            %a{href: '/'} WannaEat
          .text
            &copy; Copyright
            %a{href: '//github.com/deril'} Dmytro Bignyak
            2015
        .social
          %a{href: '/'}
            = image_tag 'facebook.png'
          %a{href: '/'}
            = image_tag 'twitter.png'
          %a{href: '/'}
            = image_tag 'instagram.png'
        %nav.footer-list
          %a{href: '/'} About WannaEat
          %a{href: '/'} Terms &amp; Conditions
          %a{href: '/'} Categories
          %a{href: '/'} Login/Register
          %a{href: '/'} Sitemap

